In [1]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
import seaborn as sns

In [2]:
track_folder = '/home/lzhou/Precipitation/TC_Tracks/CMA_Historical_Data/Track_Data/CMABSTdata'
files = os.listdir(track_folder)
files = [x for x in files if 'txt' in x]

In [3]:
first_read = 0
ar = 0
for year in np.arange(2000,2021): 
    filename = 'CH'+str(year)+'BST.txt'
    infile = os.path.join(track_folder,filename)
    os.path.isfile(infile)

    f = open(infile)
    content = f.readlines()
    f.close()

    fr = 0
    #ar = 0
    while fr < len(content):
        # print(content[fr])
        ss = content[fr].split()
        nr = int(ss[2])    #number of rows for this track 
        nsk = fr + 1       #number of rows to skip when read to table
        #print('rows to skip, rows to read: ', nsk, nr)
    
        # read in the track record. 
        # column unit: Time(UTC), IntensityCategory(Chinese standard), LAT/LON(degree in 0.1),
        # PRES(hPa), WND(2-min mean max. sustained wind near the TC center m/s)

        if first_read == 0: 
            aa = pd.read_csv(infile,skiprows=nsk,nrows=nr,sep='\s+',header=None, \
                             names=['Time','IntensityCategory','LAT','LON','PRES','WND'], \
                             dtype={'Time':'int','IntensityCategory':'int','LAT':'float','LON':'float','PRES':'float','WND':'float'})
            first_read = 1
        else:
            dummy = pd.read_csv(infile,skiprows=nsk,nrows=nr,sep='\s+',header=None, \
                                names=['Time','IntensityCategory','LAT','LON','PRES','WND'], \
                                dtype={'Time':'int','IntensityCategory':'int','LAT':'float','LON':'float','PRES':'float','WND':'float'})
            aa = aa.append(dummy,ignore_index=True)
            
        aa.loc[ar:ar+nr,'IntID'] = ss[1]
        aa.loc[ar:ar+nr,'InYearID'] = ss[3]
        aa.loc[ar:ar+nr,'CNID'] = ss[4]
        aa.loc[ar:ar+nr,'Flag'] = ss[5]            # Flag of the last data line: 0=Decay, 1=Move outside of the region, 2=Merge, 3 = Quais-Stationary
        aa.loc[ar:ar+nr,'TimeInterval'] = ss[6]    # Time interval (hour)
        aa.loc[ar:ar+nr,'Name'] = ss[7]            # Typhoon Name
            
        ar = ar + nr
        fr = fr + nr + 1 

# convert data types
#aa.IntID = aa.IntID.astype('int')
aa.InYearID = aa.InYearID.astype('int')
#aa.CNID = aa.CNID.astype('int')
aa.Flag = aa.Flag.astype('int')
aa.TimeInterval = aa.TimeInterval.astype('int')

# correc lat and lon
aa.LAT = aa.LAT/10.
aa.LON = aa.LON/10.

# convert intergers to datetime format
aa['Time'] = pd.to_datetime(aa['Time'],format='%Y%m%d%H')

In [4]:
aa.Time

0       2000-05-05 00:00:00
1       2000-05-05 06:00:00
2       2000-05-05 12:00:00
3       2000-05-05 18:00:00
4       2000-05-06 00:00:00
                ...
17373   2020-12-24 06:00:00
17374   2020-12-24 12:00:00
17375   2020-12-24 18:00:00
17376   2020-12-25 00:00:00
17377   2020-12-25 00:00:00
Name: Time, Length: 17378, dtype: datetime64[ns]

In [11]:
aa[aa.Name=='Chanthu']

,Time,IntensityCategory,LAT,LON,PRES,WND,IntID,InYearID,CNID,Flag,TimeInterval,Name
3360,2004-06-07 18:00:00,0,8.6,132.2,1008.0,10.0,0000,8,0405,0,6,Chanthu
3361,2004-06-08 00:00:00,0,9.0,130.5,1008.0,10.0,0000,8,0405,0,6,Chanthu
3362,2004-06-08 06:00:00,1,9.3,128.6,1006.0,12.0,0000,8,0405,0,6,Chanthu
3363,2004-06-08 12:00:00,1,9.5,127.5,1006.0,12.0,0000,8,0405,0,6,Chanthu
3364,2004-06-08 18:00:00,1,10.1,126.4,1006.0,12.0,0000,8,0405,0,6,Chanthu
3365,2004-06-09 00:00:00,1,10.7,125.0,1004.0,12.0,0000,8,0405,0,6,Chanthu
3366,2004-06-09 06:00:00,1,10.9,123.8,1004.0,12.0,0000,8,0405,0,6,Chanthu
3367,2004-06-09 12:00:00,1,11.0,122.4,1004.0,12.0,0000,8,0405,0,6,Chanthu
3368,2004-06-09 18:00:00,1,11.1,121.0,1002.0,12.0,0000,8,0405,0,6,Chanthu
3369,2004-06-10 00:00:00,1,11.4,120.0,1002.0,12.0,0000,8,0405,0,6,Chanthu
3370,2004-06-10 06:00:00,1,11.7,119.2,1000.0,15.0,0000,8,0405,0,6,Chanthu
3371,2004-06-10 12:00:00,1,12.0,118.5,1000.0,15.0,0000,8,0405,0,6,Chanthu
3372,2004-06-10 18:00:00,2,12.3,117.5,995.0,18.0,0000,8,0405,0,6,Chanthu
3373,2004-06-11 00:00:00,2,12.6,116.3,995.0,18.0,0000,8,0405,0,6,Chanthu
3374,2004-06-11 06:00:00,2,13.0,115.3,995.0,20.0,0000,8,0405,0,6,Chanthu
3375,2004-06-11 12:00:00,2,13.2,114.2,995.0,20.0,0000,8,0405,0,6,Chanthu
3376,2004-06-11 18:00:00,2,13.6,113.1,990.0,23.0,0000,8,0405,0,6,Chanthu
3377,2004-06-12 00:00:00,3,13.9,111.5,982.0,28.0,0000,8,0405,0,6,Chanthu
3378,2004-06-12 06:00:00,3,14.0,110.2,980.0,30.0,0000,8,0405,0,6,Chanthu
3379,2004-06-12 12:00:00,3,13.9,108.7,982.0,28.0,0000,8,0405,0,6,Chanthu
3380,2004-06-12 18:00:00,2,14.0,107.4,990.0,23.0,0000,8,0405,0,6,Chanthu
3381,2004-06-13 00:00:00,2,14.2,106.0,995.0,20.0,0000,8,0405,0,6,Chanthu
3382,2004-06-13 06:00:00,1,14.7,105.0,1000.0,15.0,0000,8,0405,0,6,Chanthu
3383,2004-06-13 12:00:00,0,15.3,104.5,1002.0,10.0,0000,8,0405,0,6,Chanthu
8012,2010-07-17 06:00:00,1,15.8,123.1,1008.0,15.0,0000,3,1003,0,6,Chanthu
8013,2010-07-17 12:00:00,1,15.5,122.8,1008.0,15.0,0000,3,1003,0,6,Chanthu
8014,2010-07-17 18:00:00,1,15.3,122.5,1008.0,15.0,0000,3,1003,0,6,Chanthu
8015,2010-07-18 00:00:00,1,15.2,122.1,1008.0,15.0,0000,3,1003,0,6,Chanthu
8016,2010-07-18 06:00:00,1,15.2,121.2,1006.0,15.0,0000,3,1003,0,6,Chanthu
8017,2010-07-18 12:00:00,1,14.9,120.0,1006.0,15.0,0000,3,1003,0,6,Chanthu
8018,2010-07-18 18:00:00,1,14.9,119.0,1004.0,15.0,0000,3,1003,0,6,Chanthu
8019,2010-07-19 00:00:00,1,15.0,118.0,1004.0,15.0,0000,3,1003,0,6,Chanthu
8020,2010-07-19 06:00:00,1,15.1,117.1,1002.0,15.0,0000,3,1003,0,6,Chanthu
8021,2010-07-19 12:00:00,2,15.6,116.5,1000.0,18.0,0000,3,1003,0,6,Chanthu
8022,2010-07-19 18:00:00,2,16.5,116.3,998.0,18.0,0000,3,1003,0,6,Chanthu
8023,2010-07-20 00:00:00,2,17.2,115.7,996.0,18.0,0000,3,1003,0,6,Chanthu
8024,2010-07-20 06:00:00,2,17.8,115.1,995.0,20.0,0000,3,1003,0,6,Chanthu
8025,2010-07-20 12:00:00,2,18.3,114.5,990.0,23.0,0000,3,1003,0,6,Chanthu
8026,2010-07-20 18:00:00,3,18.2,113.6,985.0,28.0,0000,3,1003,0,6,Chanthu
8027,2010-07-21 00:00:00,3,18.3,113.2,980.0,30.0,0000,3,1003,0,6,Chanthu
8028,2010-07-21 06:00:00,3,18.7,112.9,980.0,30.0,0000,3,1003,0,6,Chanthu
8029,2010-07-21 12:00:00,4,19.2,112.4,975.0,33.0,0000,3,1003,0,6,Chanthu
8030,2010-07-21 18:00:00,4,19.9,112.0,970.0,35.0,0000,3,1003,0,6,Chanthu
8031,2010-07-22 00:00:00,4,20.6,111.4,970.0,35.0,0000,3,1003,0,6,Chanthu
8032,2010-07-22 06:00:00,4,21.4,110.5,970.0,35.0,0000,3,1003,0,6,Chanthu
8033,2010-07-22 12:00:00,3,21.9,109.9,980.0,30.0,0000,3,1003,0,6,Chanthu
8034,2010-07-22 18:00:00,2,22.5,108.9,990.0,23.0,0000,3,1003,0,6,Chanthu
8035,2010-07-23 00:00:00,2,23.2,108.1,996.0,18.0,0000,3,1003,0,6,Chanthu
8036,2010-07-23 06:00:00,1,23.6,107.1,1000.0,16.0,0000,3,1003,0,6,Chanthu
8037,2010-07-23 12:00:00,1,23.6,106.4,1000.0,15.0,0000,3,1003,0,6,Chanthu